.x-image {
  background: url('../imgs/x-image.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.o-image {
  background: url('../imgs/o-image.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.column {
  height: 200px;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
}

#one {
  border-right: 3px black solid;
  border-bottom: 3px black solid;
}
#two {
  border-right: 3px black solid;
  border-bottom: 3px black solid;
}
#three {
  border-bottom: 3px black solid;
}
#four {
  border-right: 3px black solid;
  border-bottom: 3px black solid;
}
#five {
  border-right: 3px black solid;
  border-bottom: 3px black solid;
}
#six {
  border-bottom: 3px black solid;
}
#seven {
  border-right: 3px black solid;
}
#eight {
  border-right: 3px black solid;
}
